/* ==========================================================================
   General styles
   ========================================================================== */

/* General */
html, body {margin:0px; padding:0px; font-family:Arial; font-size:14px; color:#000000; line-height:18px; background:#fff; height:100%;}
a {color:#333333; outline:none;}
a:hover {text-decoration:none;}
a img {border:none;}
img {vertical-align:middle;}
hr {display:block; height:1px; border:0 none; border-top:1px solid #ccc; margin:0px; padding:0px;}
p {margin:15px 0px; padding:0px;}
h1 {font-size:36px; font-weight:bold; margin:0px 0px 30px 0px; padding:0px; line-height:36px; color:#000; font-family:Arial;}
h2 {font-size:28px; font-weight:bold; margin:0px 0px 20px 0px; padding:0px; line-height:28px; color:#000; font-family:Arial;}
h3 {font-size:18px; font-weight:bold; margin:0px 0px 15px 0px; padding:0px; line-height:18px; color:#000; font-family:Arial;}
menu, ol, ul {margin:0px; padding:0px; list-style-type:none;}
menu li, ol li, ul li {margin:0px; padding:0px;}
menu menu, ol ol, ul ul {margin:6px 0px 6px 30px;}
form {margin:0px; padding:0px;}
button,input,select,textarea {outline:none; font-family:Arial;}
textarea {overflow:auto; resize: vertical;}
table {margin:0px; padding:0px; border:none; border-collapse:collapse;}
table td, table th {margin:0px; padding:0px; border:none; border-collapse:collapse; text-align:left; vertical-align:top; font-weight:normal;}
.wrap {min-height:100%;}
.clear.clear_footer {height:150px;}
* {-webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -ms-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out; transition:all 0.2s ease-out;}
#slides *, .slides * {-webkit-transition:none; -moz-transition:none; -ms-transition:none; -o-transition:none; transition:none;}


/* Demo (REMOVE) */
header, footer {background:#efefef;}
header > .center_block, footer > .center_block {background:#ccc;}
.menu_top {background:#666;}
.menu_top > .center_block {background:#333;}
#slides, #slides img {width:500px; height:281px;}


/* Header */
header {min-width:990px; width:100%; height:150px;}
header > .center_block {width:100%; max-width:1200px; height:100%; margin:0px auto; position:relative;}


/* Menu top */
.menu_top {min-width:990px; width:100%; height:60px;}
.menu_top > .center_block {width:100%; max-width:1200px; height:100%; margin:0px auto; position:relative; z-index:100;}
.menu_top menu {margin:0px; padding:0px; list-style-type:none; display:table; width:100%; height:100%; table-layout:fixed;}
.menu_top menu li {display:table-cell; text-align:center; vertical-align:middle; margin:0px; padding:0px; //display:inline; //zoom:1; //width:16.66%;}
.menu_top menu li > div {position:relative;}
.menu_top menu li a {display:block; color:#fff; padding:21px 0px; text-decoration:none;}
.menu_top menu li:hover {background:#ff0000;}
.menu_top menu li:hover menu {visibility:visible; opacity:1;}

.menu_top menu menu {position:absolute; top:60px; left:0px; display:block; visibility:hidden; height:auto; background:#ccc; opacity:0;}
.menu_top menu menu li {display:block; //width:100%;}
.menu_top menu menu li a {display:block; padding:10px; color:#666;}
.menu_top menu menu li:hover a {color:#fff;}


/* Middle */
.middle {min-width:990px; width:100%;}
.middle > .center_block {width:100%; max-width:1200px; margin:0px auto; position:relative;}
.middle .middle_left {width:30%; float:left;}
.middle .middle_right {width:70%; float:right;}
.middle .middle_left > .padding {padding:20px 20px 20px 20px;}
.middle .middle_right > .padding {padding:20px 20px 20px 20px;}


/* Footer */
footer {min-width:990px; width:100%; height:150px; margin:-150px 0px 0px 0px; position:relative;}
footer > .center_block {width:100%; max-width:1200px; height:100%; margin:0px auto; position:relative;}


/* Popup */
.popup_bg {background:url(../images/popup/bg.png) repeat; width:100%; height:100%; position:fixed; top:0px; left:0px; z-index:10000; display:block; visibility:hidden; opacity:0;}
.popup {background:#fafaf7; width:556px; position:absolute; top:150px; left:50%; margin-left:-288px; z-index:10000; padding:10px; display:block; visibility:hidden; opacity:0;}
.popup .close {background:url(../images/popup/close.png) no-repeat; width:22px; height:22px; display:block; position:absolute; top:0px; right:0px; z-index:2;}
.popup .tl, .popup .tr, .popup .bl, .popup .br {background:url(../images/popup/side.png) no-repeat; width:30px; height:30px; position:absolute;}
.popup .t, .popup .b {background:url(../images/popup/top_bottom.png) repeat-x; width:100%; height:30px; position:absolute; left:0px;}
.popup .l, .popup .r {background:url(../images/popup/left_right.png) repeat-y; width:30px; height:100%; position:absolute; top:0px;}
.popup .tl {background-position:0px 0px; top:-30px; left:-30px;}
.popup .tr {background-position:-30px 0px; top:-30px; right:-30px;}
.popup .bl {background-position:0px -30px; bottom:-30px; left:-30px;}
.popup .br {background-position:-30px -30px; bottom:-30px; right:-30px;}
.popup .t {background-position:0px 0px; top:-30px;}
.popup .b {background-position:0px -30px; bottom:-30px;}
.popup .l {background-position:0px 0px; left:-30px;}
.popup .r {background-position:-30px 0px; right:-30px;}
.popup .padding {position:relative;}


/* Popup gradient */
.popup_gradient {background:#fffaea; width:556px; position:absolute; top:150px; left:50%; margin-left:-288px; z-index:10000; padding:10px; display:block; visibility:hidden; opacity:0; min-height:210px;}
.popup_gradient .close {background:url(../images/popup/close.png) no-repeat; width:22px; height:22px; display:block; position:absolute; top:0px; right:0px; z-index:2;}
.popup_gradient .tl, .popup_gradient .tr, .popup_gradient .bl, .popup_gradient .br {background:url(../images/popup_gradient/side.png) no-repeat; width:40px; height:40px; position:absolute;}
.popup_gradient .t, .popup_gradient .b {background:url(../images/popup_gradient/top_bottom.png) repeat-x; width:100%; height:40px; position:absolute; left:0px;}
.popup_gradient .l, .popup_gradient .r {background:url(../images/popup_gradient/left_right_small.png) repeat-y; width:40px; height:100%; position:absolute; top:0px;}
.popup_gradient .l_gradient, .popup_gradient .r_gradient {background:url(../images/popup_gradient/center.png) no-repeat; width:26px; height:227px; position:absolute; bottom:0px;}
.popup_gradient .tl {background-position:0px 0px; top:-40px; left:-40px;}
.popup_gradient .tr {background-position:-40px 0px; top:-40px; right:-40px;}
.popup_gradient .bl {background-position:0px -40px; bottom:-40px; left:-40px;}
.popup_gradient .br {background-position:-40px -40px; bottom:-40px; right:-40px;}
.popup_gradient .t {background-position:0px 0px; top:-40px;}
.popup_gradient .b {background-position:0px -40px; bottom:-40px;}
.popup_gradient .l {background-position:0px 0px; left:-40px;}
.popup_gradient .r {background-position:-40px 0px; right:-40px;}
.popup_gradient .l_gradient {left:-26px;}
.popup_gradient .r_gradient {right:-26px;}
.popup_gradient .center_gradient {background:url(../images/popup_gradient/center.png) repeat-x; width:100%; height:227px; position:absolute; bottom:0px; left:0px;}
.popup_gradient .padding {position:relative;}


/* ==========================================================================
   Forms
   ========================================================================== */




/* ==========================================================================
   Buttons
   ========================================================================== */




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {display:none !important; visibility:hidden;}
.show {display:block;}
.hide {display:none;}
.visuallyhidden {border:0 none; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0px; position:absolute; width:1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip:auto; height:auto; margin:0px; overflow:visible; position:static; width:auto;}
.invisible {visibility:hidden;}
.clear {margin:0px; padding:0px; font-size:0px; line-height:0px; height:1px; clear:both; float:none;}
.clearfix {display:inline-block; //display:inline; //zoom:1; width:100%;}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {background:transparent !important; color:#000 !important; box-shadow:none !important; text-shadow:none !important;}
    a, a:visited {text-decoration:underline;}
    a[href]:after {content:" (" attr(href) ")";}
    abbr[title]:after {content:" (" attr(title) ")";}
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content:"";}
    pre, blockquote {border:1px solid #999; page-break-inside:avoid;}
    thead {display:table-header-group;}
    tr, img {page-break-inside:avoid;}
    img {max-width:100% !important;}
    @page {margin:0.5cm;}
    p, h2, h3 {orphans:3; widows:3;}
    h2, h3 {page-break-after:avoid;}
}