.cloud-zoom-lens {border:3px solid #7f8392; border-radius:5px; margin:-4px; background-color:#fff; cursor:move;}
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif; position:absolute !important; background-color:#000; color:#fff; padding:3px; width:100%; text-align:center; -weight:bold; font-size:10px; top:0px;}
.cloud-zoom-big {border:3px solid #7f8392; border-radius:5px; overflow:hidden;}
.cloud-zoom-loading {color:white; background:#222; padding:3px; border:1px solid #000;}