/* ==========================================================================
   ITSoft styleForms - v0.5 - 2013-02-11
   Copyright (c) 2013 ITSoft (http://itsoft.ru)
   ========================================================================== */

/* Global */
.forms *, .forms {-webkit-transition:none; -moz-transition:none; -ms-transition:none; -o-transition:none; transition:none;}
.forms input, .forms textarea, .forms .placeholder, .forms .forms_select_title, .forms .forms_file_text {font-family:arial; font-size:14px; line-height:18px;}
.forms_button, .forms_button * {-webkit-transition:none; -moz-transition:none; -ms-transition:none; -o-transition:none; transition:none;}


/* Text (.focus, .not_empty, .hover) */
.forms_text {height:36px; margin:0px 6px; background:url(images/text.png) repeat-x 0px -36px; position:relative; display:inline-block;}
.forms_text:before, .forms_text:after {content:''; background:url(images/text.png) no-repeat; width:6px; height:36px; position:absolute; top:0px;}
.forms_text:before {background-position:0px 0px; left:-6px;}
.forms_text:after {background-position:-6px 0px; right:-6px;}
.forms_text input {border:none; background:none; width:100%; position:relative; top:8px; margin:0px; padding:0px; outline:none;}
.forms_text .placeholder {top:8px; left:1px; color:#ccc; border:none; background:none; width:100%; position:absolute;}

.forms_text.hover {background-position:0px -108px;}
.forms_text.hover:before {background-position:0px -72px;}
.forms_text.hover:after {background-position:-6px -72px;}

.forms_text.focus, .forms_text.not_empty {background-position:0px -180px;}
.forms_text.focus:before, .forms_text.not_empty:before {background-position:0px -144px;}
.forms_text.focus:after, .forms_text.not_empty:after {background-position:-6px -144px;}


/* Textarea (.focus, .not_empty, .hover) */
.forms_textarea {background:#fff; margin:6px; position:relative; display:inline-block;}
.forms_textarea_top {height:6px; top:-6px; background:url(images/textarea_top_bottom.png) repeat-x 0px 0px; width:100%; position:absolute; left:0px;}
.forms_textarea_top:before, .forms_textarea_top:after {width:6px; height:6px; content:''; background:url(images/textarea_side.png) no-repeat; position:absolute; top:0px;}
.forms_textarea_top:before {background-position:0px 0px; left:-6px;}
.forms_textarea_top:after {background-position:-6px 0px; right:-6px;}
.forms_textarea_bottom {height:6px; bottom:-6px; background:url(images/textarea_top_bottom.png) repeat-x 0px -6px; width:100%; position:absolute; left:0px;}
.forms_textarea_bottom:before, .forms_textarea_bottom:after {width:6px; height:6px; content:''; background:url(images/textarea_side.png) no-repeat; position:absolute; top:0px;}
.forms_textarea_bottom:before {background-position:0px -6px; left:-6px;}
.forms_textarea_bottom:after {background-position:-6px -6px; right:-6px;}
.forms_textarea_center {width:100%; height:100%; position:absolute; top:0px; left:0px;}
.forms_textarea_center:before, .forms_textarea_center:after {width:6px; height:100%; content:''; background:url(images/textarea_left_right.png) repeat-y; position:absolute; top:0px;}
.forms_textarea_center:before {background-position:0px 0px; left:-6px;}
.forms_textarea_center:after {background-position:-6px 0px; right:-6px;}
.forms_textarea textarea {border:none; background:none; outline:none; margin:0px; padding:0px; width:100%; position:relative; resize:vertical;}
.forms_textarea .placeholder {top:0px; left:1px; color:#ccc; border:none; background:none; width:100%; position:absolute;}

.forms_textarea.hover .forms_textarea_top {background-position:0px -12px;}
.forms_textarea.hover .forms_textarea_top:before {background-position:0px -12px;}
.forms_textarea.hover .forms_textarea_top:after {background-position:-6px -12px;}
.forms_textarea.focus .forms_textarea_top, .forms_textarea.not_empty .forms_textarea_top {background-position:0px -24px;}
.forms_textarea.focus .forms_textarea_top:before, .forms_textarea.not_empty .forms_textarea_top:before {background-position:0px -24px;}
.forms_textarea.focus .forms_textarea_top:after, .forms_textarea.not_empty .forms_textarea_top:after {background-position:-6px -24px;}

.forms_textarea.hover .forms_textarea_bottom {background-position:0px -18px;}
.forms_textarea.hover .forms_textarea_bottom:before {background-position:0px -18px;}
.forms_textarea.hover .forms_textarea_bottom:after {background-position:-6px -18px;}
.forms_textarea.focus .forms_textarea_bottom, .forms_textarea.not_empty .forms_textarea_bottom {background-position:0px -30px;}
.forms_textarea.focus .forms_textarea_bottom:before, .forms_textarea.not_empty .forms_textarea_bottom:before {background-position:0px -30px;}
.forms_textarea.focus .forms_textarea_bottom:after, .forms_textarea.not_empty .forms_textarea_bottom:after {background-position:-6px -30px;}

.forms_textarea.hover .forms_textarea_center:before {background-position:-12px 0px;}
.forms_textarea.hover .forms_textarea_center:after {background-position:-18px 0px;}
.forms_textarea.focus .forms_textarea_center:before, .forms_textarea.not_empty .forms_textarea_center:before {background-position:-24px 0px;}
.forms_textarea.focus .forms_textarea_center:after, .forms_textarea.not_empty .forms_textarea_center:after {background-position:-30px 0px;}


/* Radio (.hover, .checked) */
.forms_radio {display:inline-block; width:21px; height:21px; cursor:pointer; vertical-align:-6px; margin:0px 5px 0px 0px;}
.forms_radio .forms_radio_icon {background:url(images/radio.png) no-repeat 0px 0px; width:100%; height:100%;}
.forms_radio input {display:none;}

.forms_radio.hover .forms_radio_icon {background-position:0px -21px;}
.forms_radio.checked .forms_radio_icon {background-position:0px -42px;}


/* Checkbox (.hover, .checked) */
.forms_checkbox {display:inline-block; width:21px; height:21px; cursor:pointer; vertical-align:-6px; margin:0px 5px 0px 0px;}
.forms_checkbox .forms_checkbox_icon {background:url(images/checkbox.png) no-repeat 0px 0px; width:100%; height:100%;}
.forms_checkbox input {display:none;}

.forms_checkbox.hover .forms_checkbox_icon {background-position:0px -21px;}
.forms_checkbox.checked .forms_checkbox_icon {background-position:0px -42px;}
.forms_checkbox.checked.hover .forms_checkbox_icon {background-position:0px -63px;}


/* File (.hover, .focus) */
.forms_file {display:block; border:1px solid #f2f2f2; background:#fff; padding:1px; height:27px;}
.forms_file input {display:none;}
.forms_file_text {padding:4px 0px 0px 0px; margin:0px 80px 0px 0px; white-space:nowrap; overflow:hidden;}
.forms_file_button {height:21px; background:url(images/file.png) repeat-x 0px -27px; position:relative; float:right; cursor:pointer; margin:0px 10px; padding:6px 8px 0px 8px; font-size:12px; color:#c0c0c0; text-decoration:none; display:block;}
.forms_file_button:before, .forms_file_button:after {content:''; background:url(images/file.png) no-repeat; width:10px; height:100%; position:absolute; top:0px;}
.forms_file_button:before {background-position:0px 0px; left:-10px;}
.forms_file_button:after {background-position:-10px 0px; right:-10px;}

.forms_file.hover .forms_file_button {background-position:0px -81px;}
.forms_file.hover .forms_file_button:before {background-position:0px -54px;}
.forms_file.hover .forms_file_button:after {background-position:-6px -54px;}

.forms_file.focus .forms_file_button {background-position:0px -135px;}
.forms_file.focus .forms_file_button:before {background-position:0px -108px;}
.forms_file.focus .forms_file_button:after {background-position:-6px -108px;}


/* Select (.hover, .open) */
.forms_select {position:relative; z-index:20; display:block; margin:0px 6px;}
.forms_select .select_title {height:28px; background:url(images/text.png) repeat-x 0px -36px; position:relative; padding:8px 24px 0px 3px; white-space:nowrap; z-index:2; cursor:pointer;}
.forms_select .select_title:before, .forms_select .select_title:after {content:''; background:url(images/text.png) no-repeat; width:6px; height:36px; position:absolute; top:0px;}
.forms_select .select_title:before {background-position:0px 0px; left:-6px;}
.forms_select .select_title:after {background-position:-6px 0px; right:-6px;}
.forms_select .select_title .select_arrow {background:url(images/select_arrow.png) no-repeat 0px 0px; width:10px; height:16px; position:absolute; top:9px; right:4px; z-index:1;}
.forms_select .select_open {position:absolute; z-index:1; top:24px; left:0px; width:100%; display:none;}
.forms_select .select_open .select_open_block {border:1px solid #8aa462; position:relative; background:#ffffff; padding:12px 3px 0px 0px;}
.forms_select .select_open .select_margin {margin:3px 0px 5px 0px; position:relative; max-height:300px; outline:none;}
.forms_select .select_open ul {margin:0px; padding:0px; list-style-type:none;}
.forms_select .select_open ul li {padding:3px 8px; border-top:1px solid #dcdcdc;}
.forms_select .select_open ul li:first-child {border-top:none;}
.forms_select .select_open ul li:hover {background:#d9efc0;}
.forms_select .select_open ul li:hover a {color:#000;}
.forms_select .select_open ul li a {display:block; color:#000; text-decoration:none;}
.forms_select .jspVerticalBar {width:7px;}
.forms_select .jspTrack {background:#ccc; position:relative;}
.forms_select .jspDrag {background:#d9efc0; position:relative; top:0px; left:0px; cursor:pointer;}

.forms_select.hover .select_title {background-position:0px -108px;}
.forms_select.hover .select_title:before {background-position:0px -72px;}
.forms_select.hover .select_title:after {background-position:-6px -72px;}
.forms_select.hover .select_title .select_arrow {background-position:0px -16px;}

.forms_select.open {z-index:100;}
.forms_select.open .select_title {background-position:0px -180px;}
.forms_select.open .select_title:before {background-position:0px -144px;}
.forms_select.open .select_title:after {background-position:-8px -144px;}
.forms_select.open .select_title .select_arrow {background-position:0px -16px;}


/* Buttons */
.forms_button {margin:0px 14px; display:inline-block; height:27px; background:url(images/button.png) repeat-x 0px -27px; position:relative;}
.forms_button input {background:none; border:none; outline:none; cursor:pointer; padding:2px 0px 0px 0px; margin:0px; color:#fff; font-weight:bold;}
.forms_button:before, .forms_button:after {content:''; background:url(images/button.png) no-repeat; width:14px; height:27px; position:absolute; top:0px;}
.forms_button:before {background-position:0px 0px; left:-14px;}
.forms_button:after {background-position:-14px 0px; right:-14px;}

.forms_button:hover {background-position:0px -81px;}
.forms_button:hover:before {background-position:0px -54px;}
.forms_button:hover:after {background-position:-14px -54px;}

.forms_button:active {background-position:0px -135px;}
.forms_button:active:before {background-position:0px -108px;}
.forms_button:active:after {background-position:-14px -108px;}

