/* ==========================================================================
   Fronde styleForms - v1.1 - 2013-03-19
   Copyright (c) 2013 Fronde (http://fronde.ru)
   ========================================================================== */

/* Global */
.forms *, .forms {-webkit-transition:none; -moz-transition:none; -ms-transition:none; -o-transition:none; transition:none;}
.forms input, .forms textarea, .forms .placeholder, .forms .forms_select_title, .forms .forms_file_text {font-family:arial; font-size:14px; line-height:18px;}
.forms_button, .forms_button * {-webkit-transition:none; -moz-transition:none; -ms-transition:none; -o-transition:none; transition:none;}


/* Text (.focus, .not_empty, .hover) */
.forms_text {height:37px; margin:0px 8px; background:url(images/text.png) repeat-x 0px -37px; position:relative; display:inline-block;}
.forms_text:before, .forms_text:after {content:''; background:url(images/text.png) no-repeat; width:8px; height:37px; position:absolute; top:0px;}
.forms_text:before {background-position:0px 0px; left:-8px;}
.forms_text:after {background-position:-8px 0px; right:-8px;}
.forms_text input {border:none; background:none; width:100%; position:relative; top:8px; margin:0px; padding:0px; outline:none;}
.forms_text .placeholder {top:8px; left:1px; color:#ccc; border:none; background:none; width:100%; position:absolute;}

.forms_text.hover {background-position:0px -111px;}
.forms_text.hover:before {background-position:0px -74px;}
.forms_text.hover:after {background-position:-8px -74px;}

.forms_text.focus, .forms_text.not_empty {background-position:0px -111px;}
.forms_text.focus:before, .forms_text.not_empty:before {background-position:0px -74px;}
.forms_text.focus:after, .forms_text.not_empty:after {background-position:-8px -74px;}


/* Textarea (.focus, .not_empty, .hover) */
.forms_textarea {background:#fff; margin:8px; position:relative; display:inline-block;}
.forms_textarea_top {height:8px; top:-8px; background:url(images/textarea_top_bottom.png) repeat-x 0px 0px; width:100%; position:absolute; left:0px;}
.forms_textarea_top:before, .forms_textarea_top:after {width:8px; height:8px; content:''; background:url(images/textarea_side.png) no-repeat; position:absolute; top:0px;}
.forms_textarea_top:before {background-position:0px 0px; left:-8px;}
.forms_textarea_top:after {background-position:-8px 0px; right:-8px;}
.forms_textarea_bottom {height:8px; bottom:-8px; background:url(images/textarea_top_bottom.png) repeat-x 0px -8px; width:100%; position:absolute; left:0px;}
.forms_textarea_bottom:before, .forms_textarea_bottom:after {width:8px; height:8px; content:''; background:url(images/textarea_side.png) no-repeat; position:absolute; top:0px;}
.forms_textarea_bottom:before {background-position:0px -8px; left:-8px;}
.forms_textarea_bottom:after {background-position:-8px -8px; right:-8px;}
.forms_textarea_center {width:100%; height:100%; position:absolute; top:0px; left:0px;}
.forms_textarea_center:before, .forms_textarea_center:after {width:8px; height:100%; content:''; background:url(images/textarea_left_right.png) repeat-y; position:absolute; top:0px;}
.forms_textarea_center:before {background-position:0px 0px; left:-8px;}
.forms_textarea_center:after {background-position:-8px 0px; right:-8px;}
.forms_textarea textarea {border:none; background:none; outline:none; margin:0px; padding:0px; width:100%; position:relative; resize:vertical;}
.forms_textarea .placeholder {top:0px; left:1px; color:#ccc; border:none; background:none; width:100%; position:absolute;}

.forms_textarea.hover .forms_textarea_top {background-position:0px -16px;}
.forms_textarea.hover .forms_textarea_top:before {background-position:0px -16px;}
.forms_textarea.hover .forms_textarea_top:after {background-position:-8px -16px;}
.forms_textarea.focus .forms_textarea_top, .forms_textarea.not_empty .forms_textarea_top {background-position:0px -16px;}
.forms_textarea.focus .forms_textarea_top:before, .forms_textarea.not_empty .forms_textarea_top:before {background-position:0px -16px;}
.forms_textarea.focus .forms_textarea_top:after, .forms_textarea.not_empty .forms_textarea_top:after {background-position:-8px -16px;}

.forms_textarea.hover .forms_textarea_bottom {background-position:0px -24px;}
.forms_textarea.hover .forms_textarea_bottom:before {background-position:0px -24px;}
.forms_textarea.hover .forms_textarea_bottom:after {background-position:-8px -24px;}
.forms_textarea.focus .forms_textarea_bottom, .forms_textarea.not_empty .forms_textarea_bottom {background-position:0px -24px;}
.forms_textarea.focus .forms_textarea_bottom:before, .forms_textarea.not_empty .forms_textarea_bottom:before {background-position:0px -24px;}
.forms_textarea.focus .forms_textarea_bottom:after, .forms_textarea.not_empty .forms_textarea_bottom:after {background-position:-8px -24px;}

.forms_textarea.hover .forms_textarea_center:before {background-position:-16px 0px;}
.forms_textarea.hover .forms_textarea_center:after {background-position:-24px 0px;}
.forms_textarea.focus .forms_textarea_center:before, .forms_textarea.not_empty .forms_textarea_center:before {background-position:-16px 0px;}
.forms_textarea.focus .forms_textarea_center:after, .forms_textarea.not_empty .forms_textarea_center:after {background-position:-24px 0px;}


/* Radio (.hover, .checked) */
.forms_radio {display:inline-block; width:16px; height:16px; cursor:pointer; vertical-align:-3px; margin:0px 5px 0px 0px;}
.forms_radio .forms_radio_icon {background:url(images/radio.png) no-repeat 0px 0px; width:100%; height:100%;}
.forms_radio input {display:none;}

.forms_radio.hover .forms_radio_icon {background-position:0px -16px;}
.forms_radio.checked .forms_radio_icon {background-position:0px -32px;}


/* Checkbox (.hover, .checked) */
.forms_checkbox {display:inline-block; width:16px; height:16px; cursor:pointer; vertical-align:-4px; margin:0px 5px 0px 0px;}
.forms_checkbox .forms_checkbox_icon {background:url(images/checkbox.png) no-repeat 0px 0px; width:100%; height:100%;}
.forms_checkbox input {display:none;}

.forms_checkbox.hover .forms_checkbox_icon {background-position:0px -16px;}
.forms_checkbox.checked .forms_checkbox_icon {background-position:0px -32px;}
.forms_checkbox.checked.hover .forms_checkbox_icon {background-position:0px -48px;}


/* File (.hover, .focus) */
.forms_file {display:block; border:1px solid #f2f2f2; background:#fff; padding:1px; height:36px;}
.forms_file input {display:none;}
.forms_file_text {padding:8px 0px 0px 7px; margin:0px 80px 0px 0px; white-space:nowrap; overflow:hidden;}
.forms_file_button {height:28px; background:url(images/file.png) repeat-x 0px -36px; position:relative; float:right; cursor:pointer; margin:0px 10px; padding:8px 8px 0px 8px; font-size:14px; color:#ffffff; text-decoration:none; display:block; text-shadow:0px -1px 0px #537200;}
.forms_file_button:before, .forms_file_button:after {content:''; background:url(images/file.png) no-repeat; width:10px; height:100%; position:absolute; top:0px;}
.forms_file_button:before {background-position:0px 0px; left:-10px;}
.forms_file_button:after {background-position:-10px 0px; right:-10px;}

.forms_file.hover .forms_file_button {background-position:0px -36px;}
.forms_file.hover .forms_file_button:before {background-position:0px 0px;}
.forms_file.hover .forms_file_button:after {background-position:-10px 0px;}

.forms_file.focus .forms_file_button {background-position:0px -36px;}
.forms_file.focus .forms_file_button:before {background-position:0px 0px;}
.forms_file.focus .forms_file_button:after {background-position:-10px 0px;}


/* Select (.hover, .open) */
.forms_select {position:relative; z-index:20; display:block; margin:0px 8px;}
.forms_select .select_title {height:29px; background:#fff url(images/text.png) repeat-x 0px -37px; position:relative; padding:8px 24px 0px 3px; white-space:nowrap; z-index:2; cursor:pointer;}
.forms_select .select_title:before, .forms_select .select_title:after {content:''; background:url(images/text.png) no-repeat; width:8px; height:37px; position:absolute; top:0px;}
.forms_select .select_title:before {background-position:0px 0px; left:-8px;}
.forms_select .select_title:after {background-position:-8px 0px; right:-8px;}
.forms_select .select_title .select_arrow {background:url(images/select_arrow.png) no-repeat 0px 0px; width:10px; height:16px; position:absolute; top:9px; right:4px; z-index:1;}
.forms_select .select_open {position:absolute; z-index:1; top:24px; left:0px; width:100%; display:none;}
.forms_select .select_open .select_open_block {border:1px solid #8aa462; position:relative; background:#ffffff; padding:12px 3px 0px 0px;}
.forms_select .select_open .select_margin {margin:3px 0px 5px 0px; position:relative; max-height:300px; outline:none;}
.forms_select .select_open ul {margin:0px; padding:0px; list-style-type:none;}
.forms_select .select_open ul li {padding:3px 8px; border-top:1px solid #dcdcdc;}
.forms_select .select_open ul li:first-child {border-top:none;}
.forms_select .select_open ul li:hover {background:#f1b423;}
.forms_select .select_open ul li:hover a {color:#000;}
.forms_select .select_open ul li a {display:block; color:#000; text-decoration:none;}
.forms_select .jspVerticalBar {width:7px;}
.forms_select .jspTrack {background:#ccc; position:relative;}
.forms_select .jspDrag {background:#f1b423; position:relative; top:0px; left:0px; cursor:pointer;}

.forms_select.hover .select_title {background-position:0px -111px;}
.forms_select.hover .select_title:before {background-position:0px -74px;}
.forms_select.hover .select_title:after {background-position:-8px -74px;}
.forms_select.hover .select_title .select_arrow {background-position:0px -16px;}

.forms_select.open {z-index:100;}
.forms_select.open .select_title {background-position:0px -111px;}
.forms_select.open .select_title:before {background-position:0px -74px;}
.forms_select.open .select_title:after {background-position:-8px -74px;}
.forms_select.open .select_title .select_arrow {background-position:0px -16px;}


/* Button green */
.forms_button.green {margin:0px 7px; padding:0px 10px; display:inline-block; height:34px; background:url(images/button_green.png) repeat-x 0px -34px; position:relative;}
.forms_button.green input {background:none; border:none; outline:none; cursor:pointer; padding:7px 0px 0px 0px; margin:0px; font-weight:bold; color:#fff; text-shadow:0px -1px 0px #517000;}
.forms_button.green:before, .forms_button.green:after {content:''; background:url(images/button_green.png) no-repeat; width:7px; height:34px; position:absolute; top:0px;}
.forms_button.green:before {background-position:0px 0px; left:-7px;}
.forms_button.green:after {background-position:-7px 0px; right:-7px;}
a.forms_button.green {outline:none; cursor:pointer; padding-top:7px; font-weight:bold; color:#fff; text-shadow:0px -1px 0px #517000; text-decoration:none; height:27px;}

.forms_button.green:hover {background-position:0px -102px;}
.forms_button.green:hover:before {background-position:0px -68px;}
.forms_button.green:hover:after {background-position:-7px -68px;}

.forms_button.green:active input, a.forms_button.green:active {color:#c4dc74; text-shadow:0px -1px 0px #3f5900;}
.forms_button.green:active {background-position:0px -170px;}
.forms_button.green:active:before {background-position:0px -136px;}
.forms_button.green:active:after {background-position:-7px -136px;}


/* Button red */
.forms_button.red {margin:0px 7px; padding:0px 10px; display:inline-block; height:34px; background:url(images/button_red.png) repeat-x 0px -34px; position:relative;}
.forms_button.red input {background:none; border:none; outline:none; cursor:pointer; padding:7px 0px 0px 0px; margin:0px; font-weight:bold; color:#fff; text-shadow:0px -1px 0px #a60000;}
.forms_button.red:before, .forms_button.red:after {content:''; background:url(images/button_red.png) no-repeat; width:7px; height:34px; position:absolute; top:0px;}
.forms_button.red:before {background-position:0px 0px; left:-7px;}
.forms_button.red:after {background-position:-7px 0px; right:-7px;}
a.forms_button.red {outline:none; cursor:pointer; padding-top:7px; font-weight:bold; color:#fff; text-shadow:0px -1px 0px #517000; text-decoration:none; height:27px;}

.forms_button.red:hover {background-position:0px -102px;}
.forms_button.red:hover:before {background-position:0px -68px;}
.forms_button.red:hover:after {background-position:-7px -68px;}

.forms_button.red:active input, a.forms_button.red:active {color:#f29c9c; text-shadow:0px -1px 0px #a60000;}
.forms_button.red:active {background-position:0px -170px;}
.forms_button.red:active:before {background-position:0px -136px;}
.forms_button.red:active:after {background-position:-7px -136px;}

